# COPIA este archivo como .env y completa los valores reales.
# NUNCA subas el archivo .env a GitHub.

SECRET_KEY=cambia-esto-por-una-clave-muy-larga-y-aleatoria
DATABASE_URL=mysql+pymysql://penacaicedodeiby-prog:CONTRASEÑA@penacaicedodeiby-prog.mysql.pythonanywhere-services.com/penacaicedodeiby-prog$autolog
FLASK_ENV=production
